:root{
	--cor-verde: #0a100e;
	--cor-vd-font: #022114;
	--cor-amarelo: #ffea36;
}

*{
	margin: 0;
	font-family: Arial;
}

body{
	flex-direction: column;
	height: auto;
}

a{
	text-decoration: none;
	color: white;
}

header{
	width: 100%;
	height: 15vh;
	background-color: #090d0b;
	position: sticky;
	color: var(--cor-amarelo);
}
header nav{
	height: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 4%;
}

#logo{
	flex: 60%;
	align-items: center;
}

#logo img{
	width: 4%;
	padding-right: 1vw;
	filter: saturate(50%);
	filter: brightness(20.0);
	cursor: pointer;
}

#cont-home{
	width: 100%;
	height: auto;
	background-color: #090d0b;
	display: grid;
	grid:
		'pag-1'
		'pag-2'
		'pag-3'
		'pag-4';
	grid-template-columns: 100%;
	grid-template-rows: 85vh 100vh 100vh 80vh;
	transition: width 1s ease, opacity 1200ms, left 1s;
}

#cont-home[data-ativo='true']{
	display: grid;
	position: absolute;
	left: 0;
}

#cont-home[data-ativo='false']{
	position: absolute;
	left: -100vw;
	z-index: 2;
	opacity: 0;
	width: 0;
}

#prm-pag{
	grid-area: pag-1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 15% 20% 15% 20%;
	text-align: center;
	color: white;
}

#prm-pag h1{
	font-size: clamp(45px, 70px, 80px);
	color: var(--cor-amarelo);
}

#prm-pag p{
	font-size: clamp(20px, 25px, 30px);
}

#acess-dicio{
	background-color: var(--cor-amarelo);
	border: none;
	width: 30vw;
	height: 4vh;
	padding: 3vh 1vh 2vh;
	font-size: clamp(15px, 20px, 30px);
	color: var(--cor-vd-font);
	cursor: pointer;
	transition: box-shadow 200ms, border-radius 100ms;
}

#acess-dicio:hover{
	border-radius: 10px;
	box-shadow: 0 0 3px 0 var(--cor-verde);

}

#acess-dicio:active{
	box-shadow: 0 0 5px 1px var(--cor-verde);
	opacity: 0.8;
}

#scd-pag{
	grid-area: pag-2;
	justify-content: center;
	background-color: var(--cor-verde);
	color: white;
	gap: 3vw;
	box-shadow: 0px 0px 13px 3px black
}

#scd-pag img{
	position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    object-fit: cover;
}

#link{
	opacity: 0.3;
	color: white;
}

#trt-pag{
	grid-area: pag-3;
}

#trt-pag img{
	aspect-ratio: 1/1;
}

#qrt-pag{
	grid-area: pag-4;
	background-color: var(--cor-verde);
	color: white;
	box-shadow: 0px 0px 13px 3px black
}

#cont-dicio{
	width: 90%;
	min-height: 90%;
	position: absolute;
	display: none;
	padding: 5%;
	background-color: #6c826e;
	flex-direction: column;
	align-items: center;
	transition: width 1s, opacity 5ms;
}

#cont-dicio[data-ativo='true']{
	display: flex;
	opacity: 1;
}
#cont-dicio[data-ativo='false']{
	width: 0;
	opacity: 0;
	z-index: 3;
}

#palavras{
	flex-direction: column;
	justify-content: flex-start;
	width: 90%;
	height: auto;
	padding: 2% 0%;
}

#word-item{
	width: 95%;
	background-color: #ece7be;
	padding: 2% 0 2% 5%;
}

#word-orig{
	font-size: clamp(1vw, 2vw, 3vw);
	padding-bottom: 0.5vw;
}

#word-trad{
	opacity: 0.7;
	font-size: clamp(1vw, 1.5vw, 2.5vw);
	padding-bottom: 1.5vw;
	margin-left: 1vw;
}

#alph{
	position: relative;
	flex-direction: column;
	align-items: center;
	width: 60%;
	padding-bottom: 5vh;
}

#alph h1{
	margin-bottom: 5vh;
	font-size: clamp(35px, 40px, 45px);
}

#item-1{
	right: 45%;
}

#item-2{
	right: 0;
}

#idioma{
	width: 100%;
	height: 10vh;
}

[type="range"]{
	appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--cor-vd-font);
	cursor: pointer;
	box-shadow: 0px 5px 15px #0f2310;
}

[type="range"]::-webkit-slider-thumb{
	appearance: none;
	display: block;
	width: 45%;
	height: 10vh;
	background-color: #1a4f29;
	transition-delay: 1s;
/*	box-shadow: 0px 5px 15px #0f2310;*/ 
}


[type="range"]::-moz-range-thumb{
	appearance: none;
	display: block;
	width: 15%;
	height: 8vh;
	background-color: #1a4f29;
}

#prod{
	align-self: center;
	justify-self: center;
	align-items: center;
	flex-direction: column;
}


.flex{
	display: flex;
}

.titulo{
	color: var(--cor-amarelo);
	font-size: clamp(25px, 5vw, 50px);
}

.text{
	color: white;
	font-size: clamp(20px, 2.5vw, 50px);
}

.flex.pag-contend{
	z-index: 2;
	margin: 10vw;
	flex-direction: column;
	justify-content: space-evenly;
}

.img-cont{
	box-shadow: 0 0 5px black;
}

.alfabeto{
	position: absolute;
	top: 6vh;
	transition: right 900ms ease, opacity 1200ms ease;
}

.alfabeto[data-ativo='true']{
	opacity: 100%;
}

.alfabeto[data-ativo='false']{
	opacity: 50%;
}

.word-letter{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
	margin-bottom: 2vh;
	background-color: var(--cor-amarelo);
	box-shadow: 0px 0px 8px #000000;
	cursor: pointer;
}

.word-letter h4{
	font-size: clamp(50px, 55px, 60px);
	padding: 2vh 0 2vh 5vh;
}

.flex.profile{
	width: 50%;
	height: 80vh;
}

.pfp{
	position: absolute;
	object-fit: cover;
	width: 50%;
	height: 80vh;
	transition: opacity 800ms, filter 800ms;
}
.pfp[data-ativo='false']{
	opacity: 0.1;
	filter: blur(10px);
}
.pfp[data-ativo='true']{
	opacity: 1;
	filter: blur(0px);
}

.flex.eu{
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
	padding: 2vw;
	transition: left 1s, right 1s;
}
.flex.eu h2{
	font-size: clamp(2vw, 2.5vw, 5vw);
}
.flex.eu p{
	color: gray;
	font-size: clamp(1vw, 2vw, 2vw);
}


@media screen and (width < 1000px) {

	#logo{
		flex:auto;
	}

	#cont-home{
		grid-template-rows: 85vh 90vh 90vh 80vh;
	}

	#acess-dicio{
		width: 55vw;
	}

	#idioma{
		width: 90%;
		height: 5vh;
	}

	#alph{
		width: 90%;
	}

	[type="range"]::-webkit-slider-thumb{
		height: 5vh;
	}

	#scd-pag{
		align-items: center;
	}

	#scd-pag img{
		position: absolute;
		width: 100%;
		height: 90vh;
		opacity: 0.4;
		object-fit: cover;
	}

	#scd-pag-text{
		padding: 5vw;
		z-index: 2;
		justify-content: center;
	}

	#scd-pag-text h1{
		padding-bottom: 5vh;
	}

	#trt-pag{
		justify-content: center;
	}

	#trt-pag-text{
		padding: 5vw;
		z-index: 2;
		justify-content: center;
	}

	#trt-pag-text h1{
		padding-bottom: 5vh;
	}

	#trt-pag img{
		position: absolute;
		display: none;
		width: 105vh;
		opacity: 0.2;
	}

	.titulo{
		font-size: clamp(25px, 7vw, 60px)
	}

	.text{
		font-size: clamp(20px, 3vw, 50px)
	}

	.flex.eu h2{
		font-size: clamp(3vw, 6vw, 8vw);
		margin-bottom: 1vw;
	}
	.flex.eu p{
		color: gray;
		font-size: clamp(2vw, 5vw, 5vw);
	}
	.flex.eu a{
		font-size: clamp(1.5vw, 3vw, 4vw);
	}

	.word-letter h4 {
		font-size: clamp(8vw, 10vw, 10.5vw);
		padding: 2vw 0 2vw 1vw;
	}
	#word-orig {
	    font-size: clamp(3vw, 8.5vw, 8vw);
	    padding-bottom: 0.5;
	}
	#word-trad {
		opacity: 0.7;
		font-size: clamp(4vw, 7.5vw, 8vw);
		padding-bottom: 1.5vw;
		margin-left: 1vw;
	}


}